**/dust
doc/_build/
**/__pycache__
**/pytest_cache
**/*.egg
**/*.egg-info
**/.astropy
**/.cache
**/.config
**/.wget*
**/_tests
**/dist
**/eggs
**/build
**/.ipynb_checkpoints
**/*.zip
# Unit test / coverage reports
**/.coverage
test_fk_dpdd_m_ncdm_0.4.png
test_fk_m_ncdm_0.4.png
test_pkz_m_ncdm_0.4.png
